/*----HEADER----*/


.navbar {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  
  .navbar-brand{
    padding-top: 38px;
    padding-left: 37px;
  }
  .nav-link{
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-weight: 700;
    color: #002C38;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0px;
    padding-top: 55px;
  }
  .social{
    padding-top: 50px;
  }

}

.header{
  padding-top: 152px;
  background: url("/assets/img/home-top.png") no-repeat bottom center/cover;
  min-height: 1000px;
  position: relative;

}